<div>
    <div class="card hovercard">
        <div class="card-background">
            <button type="button" id="flirts" class="btn btn-info btn-lg col-md-2" data-type="like" disabled>
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Flirt
                <strong id="count">{{this.Flirts}}</strong>
            </button>
        </div>
        <div class="useravatar">
            <img alt="" src={{this.AvatarUrl}}>
            <label for="file-upload">Edit Profile picture</label>
            <span class="btn btn-user-profile btn-file">
                Browse <input type="file" id="file-upload">
            </span>
            <button class="btn btn-info" id="btn-UploadFile" type="button" value="Save">
                <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> Save
            </button>
        </div>

        <div class="card-info">
            <span class="card-title">{{this.FirstName}} {{this.LastName}}</span>
        </div>
    </div>
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" id="btn-container" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" id="btn-bio" class="btn btn-user-profile" href="#user-info" data-toggle="tab">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <div class="hidden-xs">Information</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="btn-gallery" class="btn btn-user-profile" href="#image-gallery" data-toggle="tab">
                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                <div class="hidden-xs">Gallery</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="btn-comments" class="btn btn-user-profile" href="#comments" data-toggle="tab">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                <div class="hidden-xs">Comments</div>
            </button>
        </div>
    </div>

    <div class="well">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="user-info">
                <div class="input-group additional-info col-md-4">
                    <div>
                        Gender:
                        <select id="select-gender" class="selectpicker">
                            <option value="3">Nothing Selected</option>
                            <option value="0">Male</option>
                            <option value="1">Female</option>
                            <option value="2">Other</option>
                        </select>
                    </div>
                    <div>Age: <input id="tb-age" type="text" class="form-control"/></div>
                    <div>Height: <input id="tb-height" type="text" class="form-control"/></div>
                    <div>Weight: <input id="tb-weight" type="text" class="form-control" /></div>
                </div>
                <div class="input-group additional-info col-md-4">
                    <div>Job Title: <input id="tb-job-title" type="text" class="form-control"/></div>
                    <div>Salary: <input id="tb-salary" type="text" class="form-control"/></div>
                    <div id="about-me-header">About me: </div>
                    <div><textarea id="ta-about-me-content" class="form-control"></textarea></div>
                </div>
                <div class="input-group additional-info col-md-4">
                    <div>
                        Eye Color:
                        <select id="select-eye-color" class="selectpicker form-control">
                            <option value="6">Nothing Selected</option>
                            <option value="0">Albino</option>
                            <option value="1">Green</option>
                            <option value="2">Blue</option>
                            <option value="3">Brown</option>
                            <option value="4">Hazel</option>
                            <option value="5">Grey</option>
                        </select>
                    </div>
                    <div>
                        Hair Color:
                        <select id="select-hair-color" class="selectpicker form-control">
                            <option value="8">Nothing Selected</option>
                            <option value="0">Blonde</option>
                            <option value="1">Brown</option>
                            <option value="2">Red</option>
                            <option value="3">Ginger</option>
                            <option value="4">Black</option>
                            <option value="5">Grey</option>
                            <option value="6">Colored</option>
                            <option value="7">Albino</option>
                        </select>
                    </div>
                    <div>
                        Star Sign:
                        <select id="select-star-sign" class="selectpicker form-control">
                            <option value="12">Nothing Selected</option>
                            <option value="0">Aries</option>
                            <option value="1">Taurus</option>
                            <option value="2">Gemini</option>
                            <option value="3">Cancer</option>
                            <option value="4">Leo</option>
                            <option value="5">Virgo</option>
                            <option value="6">Libra</option>
                            <option value="7">Scorpio</option>
                            <option value="8">Sagittarius</option>
                            <option value="9">Capricorn</option>
                            <option value="10">Aquarius</option>
                            <option value="11">Pisces</option>
                        </select>
                    </div>
                    <button class="btn btn-info" id="btn-save-changes" type="button" title="Save Changes" value="Save">
                        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> Save
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="tab-pane fade in" id="image-gallery">
                <div id="links">
                    {{#each this.Images}}
                    <a href="{{Url}}" title="" data-gallery>
                        <img src="{{Url}}" alt="">
                    </a>
                    {{/each}}
                </div>
                <div id="upload-btn-container">
                    <span class="btn btn-user-profile btn-file">
                        Browse <input type="file" id="fileUpload">
                    </span>
                    <input type="text" class="form-control" id="tb-selected-file">
                    <a id="btnUploadFile" class="btn btn-user-profile" value="Upload File" title="Upload File">
                        <span class="glyphicon glyphicon-upload"></span>
                    </a>
                </div>
                <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
                    <div class="slides"></div>
                    <h3 class="title"></h3>
                    <a class="prev">‹</a>
                    <a class="next">›</a>
                    <a class="close">×</a>
                    <ol class="indicator"></ol>
                    <div class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title"></h4>
                                </div>
                                <div class="modal-body next"></div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left prev">
                                        <i class="glyphicon glyphicon-chevron-left"></i>
                                        Previous
                                    </button>
                                    <button type="button" class="btn btn-primary next">
                                        Next
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade in" id="comments">
                <div class="portlet portlet-default">
                    <div class="panel-collapse collapse in">
                        <div>
                            <div class="portlet-body chat-widget" id="comments-container" style="overflow-y: auto; width: auto;">
                                {{#each this.Posts}}
                                <div class="post">
                                    <div class="poster-and-date">
                                        <div class="poster-name">{{SenderName}}</div>
                                        <div class="posting-date">{{CreatedOn}}</div>
                                    </div>
                                    <div id="user-post-container" class="post-content triangle-border left">
                                        <div>{{Content}}</div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                        <div class="portlet-footer">
                            <form role="form">
                                <div class="form-group">
                                    <textarea class="form-control" id="ta-comment-message" placeholder="Enter message..."></textarea>
                                </div>
                                <div class="form-group">
                                    <a href="#" class="btn btn-user-profile" id="btn-send-comment" title="Send Message"><span class="glyphicon glyphicon-share-alt"></span></a>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
