<div id="search-container">
    <div class="panel col-md-4">
        <div class="panel-heading">
            <h3 class="panel-title">Search</h3>
        </div>
        <div class="panel-body">
            <div>
                Gender 
                <select id="search-gender" class="selectpicker">
                    <option value="3">Nothing Selected</option>
                    <option value="0">Male</option>
                    <option value="1">Female</option>
                    <option value="2">Other</option>
                </select>
            </div>
            <div>
                Eye Color 
                <select id="search-eye-color" class="selectpicker">
                    <option value="6">Nothing Selected</option>
                    <option value="0">Albino</option>
                    <option value="1">Green</option>
                    <option value="2">Blue</option>
                    <option value="3">Brown</option>
                    <option value="4">Hazel</option>
                    <option value="5">Grey</option>
                </select>
            </div>
            <div>
                Hair Color 
                <select id="search-hair-color" class="selectpicker">
                    <option value="8">Nothing Selected</option>
                    <option value="0">Blonde</option>
                    <option value="1">Brown</option>
                    <option value="2">Red</option>
                    <option value="3">Ginger</option>
                    <option value="4">Black</option>
                    <option value="5">Grey</option>
                    <option value="6">Colored</option>
                    <option value="7">Albino</option>
                </select>
            </div>
            <div>
                Star Sign 
                <select id="search-star-sign" class="selectpicker">
                    <option value="12">Nothing Selected</option>
                    <option value="0">Aries</option>
                    <option value="1">Taurus</option>
                    <option value="2">Gemini</option>
                    <option value="3">Cancer</option>
                    <option value="4">Leo</option>
                    <option value="5">Virgo</option>
                    <option value="6">Libra</option>
                    <option value="7">Scorpio</option>
                    <option value="8">Sagittarius</option>
                    <option value="9">Capricorn</option>
                    <option value="10">Aquarius</option>
                    <option value="11">Pisces</option>
                </select>
            </div>
            <button id="btn-search" class="btn btn-user-profile">Search</button>
        </div>
    </div>
</div>

<div id="users-container">
    <div class="panel col-md-8" id="best-male-daters-container">
        <div class="panel-heading">
            <h3 class="panel-title">Best male users</h3>
        </div>
        <div class="panel-body">
            <ul>
                {{#each this.males}}
                <li>
                    <a href="#/users/{{Id}}">
                        <img src="http://community.playstarbound.com/data/attachments/61/61716-71ca9c4b63cf4c7405525340e6ac6aaf.jpg" alt="Alternate Text" />
                        <h4>{{FirstName}} {{LastName}}</h4>
                    </a>
                </li>
                {{/each}}
            </ul>
        </div>
        <a href="#/users/male-users">Browse all male users</a>
    </div>
    <div class="panel col-md-8" id="best-female-daters-container">
        <div class="panel-heading">
            <h3 class="panel-title">Best female users</h3>
        </div>
        <div class="panel-body">
            <ul>
                {{#each this.females}}
                <li>
                    <a href="#/users/{{Id}}">
                        <img src="http://community.playstarbound.com/data/attachments/61/61716-71ca9c4b63cf4c7405525340e6ac6aaf.jpg" alt="Alternate Text" />
                        <h4>{{FirstName}} {{LastName}}</h4>
                    </a>
                </li>
                {{/each}}
            </ul>
        </div>
        <a href="#/users/female-users">Browse all female users</a>
    </div>
    <div class="panel col-md-8" id="newest-daters-container">
        <div class="panel-heading">
            <h3 class="panel-title">Newest users</h3>
        </div>
        <div class="panel-body">
            <ul>
                {{#each this.newest}}
                <li>
                    <a href="#/users/{{Id}}">
                        <img src="http://community.playstarbound.com/data/attachments/61/61716-71ca9c4b63cf4c7405525340e6ac6aaf.jpg" alt="Alternate Text" />
                        <h4>{{FirstName}} {{LastName}}</h4>
                    </a>
                </li>
                {{/each}}
            </ul>
        </div>
        <a href="#/users">Browse all users</a>
    </div>
</div>
<!--ShoutBox Start-->
<div class="container bootstrap snippet" id="shout-box">
    <div class="panel col-md-4">
        <div class="portlet portlet-default">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h3><!--<i class="fa fa-circle text-green"></i>-->  DateFirst Chat </h3>
                </div>
                <div class="portlet-widgets">
                    <!--<div class="btn-group">
                        <button type="button" class="btn btn-white dropdown-toggle btn-xs" data-toggle="dropdown">
                            <i class="fa fa-circle text-green"></i> Status
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#"><i class="fa fa-circle text-green"></i> Online</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-circle text-orange"></i> Away</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-circle text-red"></i> Offline</a>
                            </li>
                        </ul>
                    </div>-->
                    <span class="divider"></span>
                    <a data-toggle="collapse" data-parent="#accordion" href="#chat"><i class="fa fa-chevron-down"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="chat" class="panel-collapse collapse in">
                <div id="chat-content">
                    <div class="portlet-body chat-widget" id="msg-content" style="overflow-y: auto; width: auto;">

                    </div>
                </div>
                <div class="portlet-footer">
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" id="ta-shoutbox-message" placeholder="Enter message..."></textarea>
                        </div>
                        <div class="form-group">
                            <a href="#" class="btn btn-user-profile" id="btn-send-message"><span class="glyphicon glyphicon-share-alt"></span></a>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--ShoutBox End-->
