<h1>All Users Page</h1>
<div id="users-container">
    <ul>
        {{#each this}}
        <li><a href="#/users/{{Id}}">{{FirstName}} {{LastName}}</a></li>
        {{/each}}
    </ul>
    <!--<ul class="pagination">
        <li class="disabled"><span>&laquo;</span></li>
        <li class="active"><span>1</span></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>-->
</div>