<div>
    <!--class="col-lg-12 col-sm-6"-->
    <div class="card hovercard">
        <div class="card-background">
            <button type="button" id="flirts" class="btn btn-info btn-lg col-md-2" data-type="like">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Flirt
                <strong id="count">{{this.Flirts}}</strong>
            </button>
        </div>
        <div class="useravatar">
            <img alt="" src="http://lorempixel.com/100/100/cats/2">
        </div>

        <div class="card-info">
            <span class="card-title">{{this.FirstName}} {{this.LastName}}</span>
        </div>
    </div>
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" id="btn-container" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" id="btn-bio" class="btn btn-user-profile" href="#user-info" data-toggle="tab">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <div class="hidden-xs">Information</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="btn-gallery" class="btn btn-user-profile" href="#image-gallery" data-toggle="tab">
                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                <div class="hidden-xs">Gallery</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="btn-comments" class="btn btn-user-profile" href="#comments" data-toggle="tab">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                <div class="hidden-xs">Comments</div>
            </button>
        </div>
    </div>

    <div class="well">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="user-info">
                <div>Age: {{this.AdditionalInfo.Age}}</div>
                <div>Heigth: {{this.AdditionalInfo.Heigth}}</div>
                <div>Weight: {{this.AdditionalInfo.Weight}}</div>
                <div>Job Title: {{this.AdditionalInfo.JobTitle}}</div>
                <div>Money: {{this.AdditionalInfo.Salary}}$</div>
                <div>Star Sign: {{this.AdditionalInfo.StarSign}}</div>
                <div>Gender: {{this.AdditionalInfo.Gender}}</div>
                <div>Hair Color: {{this.AdditionalInfo.HairColor}}</div>
                <div>Eye Color: {{this.AdditionalInfo.EyeColor}}</div>
                <div>About me: {{this.AdditionalInfo.AboutMe}}</div>
                <div>Hobbies: {{this.AdditionalInfo.Hobbies}}</div>
            </div>
            <div class="tab-pane fade in" id="image-gallery">
                <div id="links">
                    <!-- Generate using handlebars -->
                    {{#each this.Images}}
                    <a href="{{Url}}" title="" data-gallery>
                        <img src="{{Url}}" alt="">
                    </a>
                    {{/each}}
                </div>
                <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
                <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
                    <!-- The container for the modal slides -->
                    <div class="slides"></div>
                    <!-- Controls for the borderless lightbox -->
                    <h3 class="title"></h3>
                    <a class="prev">‹</a>
                    <a class="next">›</a>
                    <a class="close">×</a>
                    <ol class="indicator"></ol>
                    <!-- The modal dialog, which will be used to wrap the lightbox content -->
                    <div class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title"></h4>
                                </div>
                                <div class="modal-body next"></div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left prev">
                                        <i class="glyphicon glyphicon-chevron-left"></i>
                                        Previous
                                    </button>
                                    <button type="button" class="btn btn-primary next">
                                        Next
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade in" id="comments">
                <div class="tab-pane fade in" id="comments">
                    <div id="comments-container">
                        <ul>
                            {{#each this.Posts}}
                            <li>{{SenderName}} - {{CreatedOn}} - {{Content}}</li>
                            {{/each}}
                        </ul>
                    </div>
                    <textarea id="ta-post-content"></textarea>
                    <button id="btn-add-post">Add Comment</button>
                </div>
            </div>
        </div>
    </div>
</div>
