body{
    width:1050px;
    height:775px;
    font-family: Corbel, Verdana;
    font-size:26px;
    font-weight:bold;
    border:4px solid #000000;
    border-radius:7px;
    padding:5px;
}

body > header {
    color:#01ADEC;
    font-size:38px;
    letter-spacing:0;
    border-bottom:4px solid black;
    width:1000px;
    text-align:center;
    margin-bottom:10px;
    margin-left:20px;
    line-height:60px;
}

body > header > span{
    text-decoration:underline;
}

#grid {
    float:left;
    width:710px;
    height:685px;
    background:white;
    border:4px solid #000000;
    padding-left:5px;
}

.laptop {
    display: inline-block;
    width:335px;
    border:4px solid #000000;
    margin:15px 2px 0 2px;
    height:195px;

}
.laptop header{
    position:relative;
    top:-16px;
    height:20px;
    background-color:white;
    width:250px;
    vertical-align:text-top !important;
    padding-left:10px;
    margin-left:60px;
}

.laptop figure p{
    float:right;
    display:inline-block;
    position:relative;
    top:-160px;
    left:20px;
    line-height:40px;
    margin-bottom:-120px;
}

.laptop figure figcaption{
    position:relative;
    top:-20px;
}

.laptop figure img{
    position:relative;
    left:-35px;
    top:-30px;
}

#sliders {
    display: inline-block;
    float:left;
    position:relative;
    top:80px;
    margin-left:20px;
    text-align:center;
    font-size:130%;
}
 input[type=range] {
     width:230px;
     height:80px;
 }