body {
    color: #888888;
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 16px;
    background-color: #fff;
    background-image: url('../../Images/clouds-background.jpg')!important;
}

p {
    font-size: 14px;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

a:hover {
    text-decoration: none;
    background-color: #F5F5F5;
}

#navbar {
    height: 180px;
    border-bottom: 1px solid #8AB933;
    background-image: url('../../Images/banner.png');
    background-repeat: no-repeat;
}

#home-btn {
    position: relative;
    border: none;
    outline: none;
}

#profile-btn {
    margin-left: -50px;
    margin-bottom: 50px;
    border: none;
    outline: none;
}

    #home-btn:hover, #profile-btn:hover {
        background-image: url('../../Images/cloud button hover.png');
    }

.login-containers a {
    font-size: 13px;
    padding: 4px !important;
    margin-top: 15px;
    color: #fff;
}

.logout-container #logged-user-name {
    display: inline-block;
    margin-top: 17px;
    margin-left: 10px;
    color: #fff;
    font-size: 13px;
}

#search-container {
    float: left;
    width: 33.33333%;
    padding: 0px;
}

    #search-container .panel {
        border-radius: 0px;
        margin-bottom: 0px;
        padding: 0px;
        border-color: #8AB933;
        width: 95%;
        height: 50%;
    }

        #search-container .panel .panel-heading {
            border-radius: 0px;
            color: white;
            background-color: #8AB933;
        }

        #search-container .panel .panel-body div {
            color: black;
            margin-bottom: 10px;
            margin-left: 30px;
        }

        #search-container .panel .panel-body #btn-search {
            background-color: white;
            color: black;
            margin-bottom: 5px;
            margin-left: 270px;
            font-size: 14px;
        }

        #search-container .panel .panel-body div select {
            border-radius: 5px;
            border: 1px solid #111;
            background: transparent;
            margin-left: 5px;
            padding: 0px 5px 0px 5px;
            font-size: 16px;
            border: 1px solid #ccc;
            height: 25px;
        }

#file-Upload, #btn-UploadFile {
    position: relative;
    display: inline;
}

#users-container {
    float: right;
    width: 66.666%;
}

    #users-container .panel {
        margin-bottom: 0px;
        border-radius: 0px;
        padding: 0px;
        border-color: #8AB933;
        width: 100%;
    }

        #users-container .panel a {
            font-size: 14px;
            color: #8AB933;
        }

        #users-container .panel .panel-heading {
            border-radius: 0px;
            color: white;
            background-color: #8AB933;
        }

        #users-container .panel ul {
            padding-left: 0px;
            margin-bottom: 0px;
        }

            #users-container .panel ul li {
                list-style-type: none;
                display: inline-block;
                color: #8AB933;
                width: 19%;
                vertical-align: top;
                margin-top: 5px;
            }

                #users-container .panel ul li a {
                    color: #8AB933;
                }

#shout-box {
    padding: 0px;
    width: 33.33333%;
    float: left;
}

    #shout-box .panel {
        margin: 0px;
        padding: 0px;
        border: 1px solid #8AB933;
        border-radius: 0px;
        width: 95%;
    }

        #shout-box .panel .portlet {
            border: none;
            margin: 0px;
        }

        #shout-box .panel .portlet-heading {
            background: #8AB933;
            padding: 5px 15px;
            line-height: 1.1;
        }

            #shout-box .panel .portlet-heading .portlet-widgets {
                margin: 0px;
            }

        #shout-box .panel .portlet-title h3 {
            margin: 0px;
            color: white;
            font-family: 'Open Sans',Arial,sans-serif !important;
            font-size: 16px !important;
        }

        #shout-box .panel .portlet #chat {
            height: 100%;
        }

            #shout-box .panel .portlet #chat #chat-content {
                height: 60%;
            }


            #shout-box .panel .portlet #chat .chat-widget {
                height: 300px !important;
            }

            #shout-box .panel .portlet #chat .portlet-footer {
                padding: 5px 5px;
                background: none;
            }

                #shout-box .panel .portlet #chat .portlet-footer .form-group {
                    position: initial;
                    margin: 0px;
                }

                    #shout-box .panel .portlet #chat .portlet-footer .form-group #btn-send-message {
                        margin-top: 10px;
                        margin-left: 5px;
                    }

                #shout-box .panel .portlet #chat .portlet-footer #ta-shoutbox-message {
                    float: left;
                    width: 84%;
                    resize: none;
                }

                    #shout-box .panel .portlet #chat .portlet-footer #ta-shoutbox-message:focus {
                        outline: none !important;
                        border: 1px solid #8AB933;
                        box-shadow: 0 0 10px #8AB933;
                    }


.well {
    height: 360px;
    background: white;
}

    .well .tab-content {
        width: 100%;
    }


        .well .tab-content .tab-pane select {
            border-radius: 5px;
            border: 1px solid #111;
            background: transparent;
            margin-left: 5px;
            padding: 0px 5px 0px 5px;
            font-size: 16px;
            border: 1px solid #ccc;
            height: 25px;
        }

        .well .tab-content .tab-pane #info-1 div {
            color: black;
            margin-bottom: 25px;
            margin-left: 30px;
            font-size: 16px;
            height: 25px;
        }

        .well .tab-content .tab-pane #info-2 div {
            color: black;
            margin-bottom: 25px;
            margin-left: 30px;
            font-size: 16px;
            height: 25px;
        }

        .well .tab-content .tab-pane input {
            color: black;
            font-size: 16px;
            height: 25px;
        }

        .well .tab-content .tab-pane #info-1 {
            float: left;
        }

        .well .tab-content .tab-pane #info-2 {
            float: right;
            margin-right: 75px;
        }

            .well .tab-content .tab-pane #info-2 #about-me-header {
                margin-bottom: 2px;
            }

            .well .tab-content .tab-pane #info-2 #ta-about-me-content {
                width: 350px;
                height: 100px;
                overflow: auto;
                border-radius: 5px;
                resize: none;
            }

                .well .tab-content .tab-pane #info-2 #ta-about-me-content:focus {
                    outline: none !important;
                    border: 1px solid #8AB933;
                    box-shadow: 0 0 10px #8AB933;
                }

        .well .tab-content .tab-pane #btn-save-changes {
            float: right;
            margin-right: 60px;
            margin-top: 240px;
        }

        .well .tab-content #image-gallery #upload-btn-container {
            margin-top: 20px;
        }

            .well .tab-content #image-gallery #upload-btn-container .form-control {
                width: 20%;
                display: inline-block;
            }

        .well .tab-content #image-gallery #links {
            height: 270px;
            width: 101%;
            overflow-y: auto;
        }

            .well .tab-content #image-gallery #links a {
                display: inline-block;
                width: 99px;
                height: 100px;
                margin-left: 3.5px;
            }

                .well .tab-content #image-gallery #links a img {
                    width: 100px;
                    height: 100px;
                    vertical-align: initial;
                }

        .well .tab-content #image-gallery #upload-btn-container {
            margin-top: 10px;
        }

            .well .tab-content #image-gallery #upload-btn-container #fileUpload {
                width: 210px;
                display: inline-block;
            }

        .well .tab-content #comments .portlet {
            border: none;
        }

            .well .tab-content #comments .portlet #comments-container {
                height: 252px;
            }

            .well .tab-content #comments .portlet #comments-container .post {
                margin-bottom: 20px;
            }

                .well .tab-content #comments .portlet #comments-container .poster-and-date{      
                    vertical-align: top;
                    color: black;             
                    display: inline-block;    
                    width: 25%;                
                }

                .well .tab-content #comments .portlet #comments-container .poster-and-date .poster-name{
                    font-size: 20px;
                }

                .well .tab-content #comments .portlet #comments-container .post-content{
                    display: inline-block;  
                    width: 70%;
                }

            .well .tab-content #comments .portlet .portlet-footer {
                padding: 0px;
                background-color: white;
            }

                .well .tab-content #comments .portlet .portlet-footer .form-group {
                    position: initial;
                }

                    .well .tab-content #comments .portlet .portlet-footer .form-group #ta-comment-message {
                        width: 50%;
                        resize: none;
                        float: left;
                    }

                        .well .tab-content #comments .portlet .portlet-footer .form-group #ta-comment-message:focus {
                            outline: none !important;
                            border: 1px solid #8AB933;
                            box-shadow: 0 0 10px #8AB933;
                        }

                    .well .tab-content #comments .portlet .portlet-footer .form-group #btn-send-comment {
                        margin-left: 5px;
                        margin-top: 9px;
                    }

.btn-user-profile {
    border: 1px solid lightgray;
    background: white;
    color: black;
}

    .btn-user-profile:hover {
        border-top: 2px solid #8AB933;
    }

.card-background #flirts {
    margin-top: 85px;
    z-index: 5;
}

.btn-pressed {
    background: white;
    border: 1px solid lightgray;
    border-top: 2px solid #8AB933;
}

.panel-body {
    padding: 0px;
    padding-top: 10px;
}

.panel .panel-heading {
    padding: 5px 15px;
}

.panel .panel-body ul li {
    padding-left: 25px;
}

    .panel .panel-body ul li a img {
        border-radius: 5px;
        width: 50px;
        height: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .panel .panel-body ul li a h4 {
        text-align: center;
    }

#users-container .panel a {
    float: right;
    margin-right: 10px;
}

.card {
    margin-top: 0px !important;
}

a#user-image {
    padding: 10px;
    margin: 0px;
}

    a#user-image img {
        border-radius: 5px;
        width: 25px;
        height: 25px;
    }

body #wrapper {
    width: 75%;
    margin: 0 auto;
}

/*Login/Logout Windows Start*/
.modal-content {
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;
}

.login_modal_footer {
    margin-top: 5px;
}

.login_modal_header .modal-title {
    text-align: center;
    font-family: 'Philosopher',sans-serif;
}

.form-group {
    position: relative;
}

    .form-group .login-field-icon {
        font-size: 20px;
        position: absolute;
        right: 15px;
        top: 3px;
        transition: all 0.25s ease 0s;
        padding-top: 2%;
    }

.login-modal {
    width: 100%;
    padding-bottom: 20px;
}

.login_modal_header, .login_modal_footer {
    background: #8AB933 !important;
    color: #fff;
}

.login-modal input {
    height: 40px;
    box-shadow: none;
    border: 1px solid #8AB933;
}

.login-link {
    padding: 0 20%;
}

.modal-icons {
    margin-left: -10px;
    margin-right: 20px;
}

#social-icons-conatainer {
    position: relative;
}

#center-line {
    position: absolute;
    right: 265.7px;
    top: 80px;
    background: #ddd;
    border: 4px solid #DDDDDD;
    border-radius: 20px;
}

.modal-login-btn {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: 2px solid #8AB933;
    background: white;
    color: #808080;
    font-size: 18px;
}

    .modal-login-btn:hover {
        background-color: #F5F5F5;
    }

#modal-launcher {
    margin: 30% 0 0 30%;
}

#footer {
    color: white;
    background: #8AB933;
    float: right;
    /*position: absolute;
    left: 506px;
    top: 569px;*/
    width: 683px;
    height: 93px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

/*Post Comment Bubble*/
.triangle-border {
    position: relative;
    padding: 10px;
    border: 5px solid #8AB933;
    color: #333;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

    .triangle-border.left {
        margin-left: 40px;
    }

        .triangle-border.left:before {
            top: 0px;
            bottom: auto;
            left: -30px;
            border-width: 15px 30px 15px 0;
            border-color: transparent #8AB933;
        }

    .triangle-border:before {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 40px;
        border-width: 20px 20px 0;
        border-style: solid;
        border-color: #8AB933 transparent;
        display: block;
        width: 0;
    }

    .triangle-border.left:after {
        top: 6px;
        bottom: auto;
        left: -21px;
        border-width: 9px 21px 9px 0;
        border-color: transparent #fff;
    }

    .triangle-border:after {
        content: "";
        position: absolute;
        bottom: -13px;
        left: 47px;
        border-width: 13px 13px 0;
        border-style: solid;
        border-color: #fff transparent;
        display: block;
        width: 0;
    }
