body {
    color: #888888;
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 16px;
    /*background-image: url("http://img.photobucket.com/albums/v16/wishuponastar422/blog/layouts/parisholdsthekeybkgcopy.jpg");*/
}

a:hover {
    text-decoration: none;
    background-color: #F5F5F5;
}

#navbar {
    height: 50px;
    border-bottom: 1px solid #8AB933;
}

.login-containers a {
    font-size: 13px;
    padding: 4px !important;
    margin-top: 15px;
    color: #8AB933;
}

.logout-container #logged-user-name {
    display: inline-block;
    margin-top: 17px;
    margin-left: 10px;
    color: #8AB933;
    font-size: 13px;
}

#image-gallery #links a img {
    width: 150px;
    height: 150px;
}

#content {
    /*border-right: 1px solid #8AB933;
    border-left: 1px solid #8AB933;*/
}

#search-container {
    float: left;
    width: 33.33333%;
}

    #search-container .panel {
        margin-top: 10px;
        margin-bottom: 0px;
        padding: 0px;
        border-color: #8AB933;
        width: 95%;
        height: 50%;
    }

        #search-container .panel .panel-heading {
            color: white;
            background-color: #8AB933;
        }

        #search-container .panel .panel-body div {
            color: black;
            margin-bottom: 10px;
            margin-left: 30px;
        }

        #search-container .panel .panel-body button {
            background-color: white;
            color: black;
            margin-top: 30px;
            margin-left: 200px;
            font-size: 17px;
        }

        #search-container .panel .panel-body div select {
            border: 1px solid #111;
            background: transparent;
            padding: 5px 35px 5px 5px;
            font-size: 16px;
            border: 1px solid #ccc;
            height: 34px;
            -webkit-appearance: none;
            -moz-appearance: none;
            background: url("../favicon.ico") 92% / 10% no-repeat white;
        }


#users-container .panel {
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0px;
    border-color: #8AB933;
}

    #users-container .panel a {
        font-size: 14px;
        color: #8AB933;
    }

    #users-container .panel .panel-heading {
        color: white;
        background-color: #8AB933;
    }

    #users-container .panel ul {
        padding-left: 0px;
        margin-bottom: 0px;
    }

        #users-container .panel ul li {
            list-style-type: none;
            display: inline-block;
            color: #8AB933;
        }

            #users-container .panel ul li a {
                color: #8AB933;
            }

.well {
    height: 360px;
    background: white;
}

    .well .tab-content .tab-pane div {
        color: black;
        margin-bottom: 25px;
        margin-left: 30px;
        font-size: 18px;
    }

    .well .tab-content .tab-pane #info-1 {
        float: left;
    }

    .well .tab-content .tab-pane #info-2 {
        float: right;
    }

        .well .tab-content .tab-pane #info-2 #about-me-header {
            margin-bottom: 2px;
        }

        .well .tab-content .tab-pane #info-2 #about-me-content {
            width: 450px;
            height: 150px;
            overflow: auto;
            border: 1px solid black;
        }

.btn-user-profile {
    border: 1px solid lightgray;
    background: white;
}

    .btn-user-profile:hover {
        border-top: 2px solid #8AB933;
    }

.card-background #flirts {
    margin-top: 85px;
    z-index: 5;
}

.btn-pressed {
    background: white;
    border: 1px solid lightgray;
    border-top: 2px solid #8AB933;
}

.panel .panel-heading {
    padding: 5px 15px;
}

.panel .panel-body ul li {
    padding-left: 25px;
}

    .panel .panel-body ul li a img {
        border-radius: 100px;
        width: 70px;
        height: 70px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .panel .panel-body ul li a h4 {
        text-align: center;
    }

#users-container .panel a {
    float: right;
    margin-right: 10px;
}

.card {
    margin-top: 0px !important;
}

.panel-body {
    padding: 0px;
    padding-top: 15px;
}

#search-container {
    height: 600px;
    padding: 0px;
}

a#user-image {
    padding: 10px;
    margin: 0px;
}

    a#user-image img {
        border-radius: 5px;
        width: 25px;
        height: 25px;
    }

body #wrapper {
    width: 75%;
    margin: 0 auto;
}

.modal-content {
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;
}

.login_modal_footer {
    margin-top: 5px;
}

.login_modal_header .modal-title {
    text-align: center;
    font-family: 'Philosopher',sans-serif;
}

.form-group {
    position: relative;
}

    .form-group .login-field-icon {
        font-size: 20px;
        position: absolute;
        right: 15px;
        top: 3px;
        transition: all 0.25s ease 0s;
        padding-top: 2%;
    }

.login-modal {
    width: 100%;
    padding-bottom: 20px;
}

.login_modal_header, .login_modal_footer {
    background: #8AB933 !important;
    color: #fff;
}

.login-modal input {
    height: 40px;
    box-shadow: none;
    border: 1px solid #8AB933;
}

.login-link {
    padding: 0 20%;
}

.modal-icons {
    margin-left: -10px;
    margin-right: 20px;
}

#social-icons-conatainer {
    position: relative;
}

#center-line {
    position: absolute;
    right: 265.7px;
    top: 80px;
    background: #ddd;
    border: 4px solid #DDDDDD;
    border-radius: 20px;
}

.modal-login-btn {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: 2px solid #8AB933;
    background: white;
    color: #808080;
    font-size: 18px;
}

    .modal-login-btn:hover {
        background-color: #F5F5F5;
    }

#modal-launcher {
    margin: 30% 0 0 30%;
}
